body {
    background-image: linear-gradient(rgb(174, 191, 223), white);
    margin: 0px;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
    font-weight: 500;
}

a {
    color: white;
}

header {
    align-items: center;
    background-color: rgb(29, 63, 83);
    display: flex;
    height: 60px;
    justify-content: center;
    position: fixed;
    width: 100%; 
}

nav {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
    min-width: 580px;
}

.button {
    margin: 3px;
    border-bottom: 2px solid rgb(7, 84, 129);
    color:rgb(250, 251, 253);
    font-size: 16px;
    font-weight: 20px;  
    padding: 5px 5px;
    text-decoration: none;    
    transition: background-color 1s;
}

.icons {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
}

.button:hover {
    background-color: rgb(7, 84, 129);
}

.contact {
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
    padding: 7px;    
    text-align: right;
}

.phone {
    font-size: 18px;
}

.ddd {
    font-size: 14px;
}

.picture {
    padding: 5px;
    background-color: gray;
    border-radius: 50%;
    width: 350px;
    margin: 20px;
}

.first {
    display: flex;
    align-items: center;
    padding-top: 70px;
    justify-content: center;
}


h1{
    color:rgb(29, 28, 28);
    font-family: Montserrat, sans-serif; 
    font-size: 60px; 
    margin: 0;
}

h2 {
    font-size: 45px; 
    font-style: italic;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10px 0 0 0;
    margin: 0;
}

.history {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    line-height: 42px;
    font-weight: 300;
    color: rgb(29, 63, 83);
    margin-left: 30px;
}

.frase {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
.name {
    background-color: rgb(29, 63, 83);
    color:white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px 0 10px 0;
}

.logo{
    margin-right: 20px;
    border-radius: 20%;
    border-color: solid 0px;
    
}
.sobre{
    background-color: rgb(135, 170, 235);;
    height: 193px;
    margin-top: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
   
}

.text{
    margin: auto;
    width: 85%;
    background-color: rgb(226, 226, 228);
    box-shadow: 5px 5px 0 rgb(177, 175, 175, 0.8);
    -webkit-box-shadow: 5px 5px 0 rgb(177, 175, 175, 0.8);
    -moz-box-shadow: 5px 5px 0 rgb(177, 175, 175, 0.8);
    text-align: center;
}

.text2{
    margin: auto;
    background-color: whitesmoke;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 5px 5px 0 rgb(177, 175, 175, 0.8);
    -webkit-box-shadow: 5px 5px 0 rgb(177, 175, 175, 0.8);
    -moz-box-shadow: 5px 5px 0 rgb(177, 175, 175, 0.8);
    text-align: center;
}

.total{
    height: 600px;
    background-color: #c4cad8;
    width:100%;
}
