h1{
    font-family: Montserrat, sans-serif; 
    color:rgb(29, 28, 28);
    font-size: 65px; 
   
}

.menor{
    font-size: 45px; 
    font-style: italic;
    background-color: cornflowerblue;
    font-color: white;

}
h3{ 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(182, 189, 201);
    background-color: rgb(29, 63, 83);
    padding:3px 15px;
    font-weight: 10px;  
    
}
body {
    background-color:#c4cad8;
    margin: 0px;
}
.picture {
    padding: 5px;
    background-color: gray;
    border-radius: 50%;

    
}
.button {
    font-family:Montserrat, sans-serif;
    color:rgb(250, 251, 253);
    padding: 5px 5px;
    text-decoration: none;
    font-weight: 20px;   

    border-left: 3px solid rgb(7, 84, 129);
    border-top: 2px solid rgb(7, 84, 129);

   
    font-size: 16px;



}
.button:hover {
    background-color: rgb(7, 84, 129);

}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 10px; 


}
ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 10px; 
}
em {
    font-size: 16px;
}

.foto{
    float:left;
    margin-right: 20px;
    margin-left: 10px;
}
.cabecalho{
    background-color: rgb(29, 63, 83);
    height: 45px;
    max-width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    


}

.first{
    margin-top: 90px;
}

.information{
    padding: 35px;
}

.frase {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    

}
.chamo{
    background-color: rgb(29, 63, 83);
    color:white;

}
.botoes{
    float:left;
}
.icones{
    float:right;


}
.logo{
    margin-right: 20px;
    background-color: rgb(238, 237, 237);
    border-radius: 20%;
    
}